.editorconfig
.env
.git
.gitignore
.vs/
.vscode/
.idea/
.github/
**/docker-compose*.yml
*.md
LICENSE
TestResults/
artifacts/
GitVersion.yml
UpdateNuspecTool.slnx
UpdateNuspecTool.sln.DotSettings.user
action.yml

UpdateNuspecTool.Tests/
**/bin/
**/obj/
