.editorconfig
.env
.git
.gitignore
.vs/
.vscode/
.idea/
.github/
**/docker-compose*.yml
*.md
LICENSE
tools/
TestResults/
GitVersion.yml
UpdateNuspecTool.slnx
UpdateNuspecTool.sln.DotSettings.user
action.yml

UpdateNuspecTool/
UpdateNuspecTool.Tests/

!artifacts/publish/linux-x64/UpdateNuspecTool
