.editorconfig
.env
.git
.gitignore
.vs/
.vscode/
.idea/
.github/
**/docker-compose*.yml
*.md
LICENSE
TestResults/
GitVersion.yml
UpdateNuspecTool.slnx
UpdateNuspecTool.sln.DotSettings.user
action.yml

UpdateNuspecTool/
UpdateNuspecTool.Tests/
azure-devops-extension/
update-nuspec/
scripts/
packaging/
**/bin/
**/obj/
