# Visual Studio 2015/2017 cache/options directory
.vs/

# JetBrains Rider
.idea/

# .NET
**/bin/
**/obj/
TestResults/
*.vsix
azure-devops-extension/.vss-extension.build.json
azure-devops-extension/task/linux-x64/
azure-devops-extension/task/win-x64/
azure-devops-extension/task/index.js
azure-devops-extension/task/node_modules/
update-nuspec/target/
dist/
docker/
*.user
*.suo
.run/
